# A Quick and Easy Guide to Conditional Formatting inÂ Pandas

Discover how you can apply conditional formatting on Pandas DataFrames

## The dataset

In [1]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
df = iris.sample(n=10, random_state=1)
df

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
98            5.1          2.5           3.0          1.1  versicolor
75            6.6          3.0           4.4          1.4  versicolor
16            5.4          3.9           1.3          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica
56            6.3          3.3           4.7          1.6  versicolor
141           6.9          3.1           5.1          2.3   virginica
44            5.1          3.8           1.9          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa
120           6.9          3.2           5.7          2.3   virginica

In [2]:
print(type(df.style))
df.style

<class 'pandas.io.formats.style.Styler'>

In [3]:
df.style.format(formatter={"sepal_length": "{:.1f}", "sepal_width": "{:.1f}",
                           "petal_length": "{:.1f}", "petal_width": "{:.1f}"})

## Conditional cell highlighting

### 1. Highlighting any cells that meet a condition

In [4]:
def highlight_cells(val):
    color = 'yellow' if val == 5.1 else ''
    return 'background-color: {}'.format(color)

df.style.applymap(highlight_cells)

###  2. Highlighting any cells that do not meet a condition

In [5]:
def highlight_cells(val):
    color = 'yellow' if val == 5.1 else '#C6E2E9'
    return 'background-color: {}'.format(color)

df.style.applymap(highlight_cells)

In [6]:
def highlight_cells(val, color_if_true, color_if_false):
    color = color_if_true if val == 5.1 else color_if_false
    return 'background-color: {}'.format(color)

df.style.applymap(highlight_cells, color_if_true='yellow', color_if_false='#C6E2E9')

### 3. Highlighting cells that meet a condition in selected columnsÂ only

In [7]:
df.style.applymap(highlight_cells, color_if_true='yellow', color_if_false='#C6E2E9', 
                  subset=['sepal_length', 'petal_length'])

### 4. Highlighting rows based on categorical values

In [8]:
def highlight_rows(row):
    value = row.loc['species']
    if value == 'versicolor':
        color = '#FFB3BA' # Red
    elif value == 'setosa':
        color = '#BAFFC9' # Green
    else:
        color = '#BAE1FF' # Blue
    return ['background-color: {}'.format(color) for r in row]

df.style.apply(highlight_rows, axis=1)

### 5. Highlighting columns based on columnÂ names

In [9]:
def highlight_cols(col):
    if col.name == 'species':
        color = '#A79AFF' # Dark purple
    else:
        color = '#DCD3FF' # Light purple
    return ['background-color: {}'.format(color) for c in col]

df.style.apply(highlight_cols, axis=0)

## Exporting as an Excel file

In [10]:
df.style.apply(highlight_rows, axis=1)\
        .to_excel('output/styled_df.xlsx', engine='openpyxl')

## Putting it all together

Suppose we want to format our DataFrame `df` in the following ways:
- highlight rows based on the species of flower;
- set font color as red and font weight as bold when sepal length or sepal width is between 3.5mm and 5.5mm;Â 
- set font size as 15px and font type as cursive when petal length or petal width is between 1.5mm and 3.5mm.

### Step 1: Highlight rows based on species of flowers

In [11]:
def highlight_rows(row):
    value = row.loc['species']
    if value == 'versicolor':
        color = '#FFB3BA' # Red
    elif value == 'setosa':
        color = '#BAFFC9' # Green
    else:
        color = '#BAE1FF' # Blue
    return ['background-color: {}'.format(color) for r in row]

df.style.apply(highlight_rows, axis=1)

### Step 2: Set font color and weight when sepal length or width is between 3.5mm and 5.5mm

In [12]:
def format_sepal(val):
    condition = (val >= 3.5) & (val <= 5.5)
    font_color = 'red' if condition else 'black'
    font_weight = 'bold' if condition else 'normal'
    return 'color: {}; font-weight: {}'.format(font_color, font_weight)

df.style.apply(highlight_rows, axis=1)\
        .applymap(format_sepal, subset=['sepal_length', 'sepal_width'])

### Step 3: Set font size and type when petal length or width is between 1.5mm and 3.5mm

In [13]:
def format_petal(val):
    condition = (val >= 1.5) & (val <= 3.5)
    font_size = '15px' if condition else '1em'
    font_type = 'cursive' if condition else 'serif'
    return 'font-size: {}; font-family: {}'.format(font_size, font_type)

df.style.apply(highlight_rows, axis=1)\
        .applymap(format_sepal, subset=['sepal_length', 'sepal_width'])\
        .applymap(format_petal, subset=['petal_length', 'petal_width'])

### Step 4: Export as an Excel file

In [14]:
df.style.apply(highlight_rows, axis=1)\
        .applymap(format_sepal, subset=['sepal_length', 'sepal_width'])\
        .applymap(format_petal, subset=['petal_length', 'petal_width'])\
        .to_excel('output/styled_example.xlsx', engine='openpyxl')